.wrapper {
  list-style: none;
  display: flex;
  &__linkFirst {
    text-decoration: none;
    border: 0;
    margin-left: 14px;
  }
  &__link {
    text-decoration: none;
    border: 0;
    margin-left: 32px;
  }
  &__linkRight {
    position: absolute;
    right: 30px;
  }
  &__btnL {
    cursor: pointer;
  }
  li {
    padding-left: 0;
  }
}

.mobile {
  display: none;
}

@media (max-width: 1000px) {
  .wrapper {
    display: none;
  }
  .mobile {
    display: flex;
    align-items: center;
    padding-left: 14px;
  }
}
