.wrapper {
  list-style: none;
  display: flex;
  &__link {
    text-decoration: none;
    border: 0;
    margin-left: 32px;
  }
  li {
    padding-left: 0;
  }
}

.mobile{
    display: none;
}

@media (max-width: 480px) {
  .wrapper {
    display: none;
  }
  .mobile{
      display: block;
  }
}
