.wrapper label{
    font-weight: 400;
    text-transform: inherit;
    letter-spacing: inherit;
}
.date {
  color: white;
  outline: none;
  padding-left: 4px;
  cursor: pointer;
  border: 0;
  background-color: rgba(43, 48, 74, 1);
  margin: 8px 0px 8px 8px;
}
.input{
    margin: 8px 0;
}
.fieldset{
    margin-bottom: 40px;
}